<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <strong style="letter-spacing: -1px;">ALPHA BLOG</strong></small>
  </div>
</footer>